  @font-face {
    font-family: 'Jost weight-400';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/jost/v14/92zatBhPNqw73oTd4g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Jost weight-500';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/jost/v14/92zatBhPNqw73oTd4g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Jost weight-600';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/jost/v14/92zatBhPNqw73oTd4g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Jost weight-700';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/jost/v14/92zatBhPNqw73oTd4g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Jost weight-800';
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/jost/v14/92zatBhPNqw73oTd4g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Jost weight-900';
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.gstatic.com/s/jost/v14/92zatBhPNqw73oTd4g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* animation css */

  /* 
green: #3FAF82

*/


  .box .iconbtn {
    width: 20px;
    cursor: pointer;
    height: 20px;
  }

  .box span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 2px;
    background: white;
    transition: all .3s;
    position: relative;
  }

  .box span+span {
    margin-top: 5px;
  }

  .box .active span:nth-child(1) {
    animation: ease .7s top forwards;
  }

  .box .not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }

  .box .active span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }

  .box .not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }

  .box .active span:nth-child(3) {
    animation: ease .7s bottom forwards;
  }

  .box .not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }

  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }

    50% {
      top: 10px;
      transform: rotate(0);
    }

    100% {
      top: 10px;
      transform: rotate(45deg);
    }
  }

  @keyframes top-2 {
    0% {
      top: 10px;
      transform: rotate(45deg);
    }

    50% {
      top: 10px;
      transform: rotate(0deg);
    }

    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }

  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }

    50% {
      bottom: 10px;
      transform: rotate(0);
    }

    100% {
      bottom: 4px;
      transform: rotate(135deg);
    }
  }

  @keyframes bottom-2 {
    0% {
      bottom: 10px;
      transform: rotate(135deg);
    }

    50% {
      bottom: 10px;
      transform: rotate(0);
    }

    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }

  @keyframes scaled {
    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  /* dot animation */

  @keyframes dot {
    0% {
      color: transparent;
    }

    100% {
      color: var(--vilansec-secondary-color);
    }
  }